---
layout: default
title: Home
---

<div>
  {% for post in paginator.posts %}
  <article class="mb-20">
    <h1 class="text-5xl md:text-3xl lg:text-5xl text-gray-900 font-bold mb-1">
      <a class="no-underline hover:underline" href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="block text-xl md:text-base lg:text-xl text-gray-400 mb-6">{{ post.date | date_to_string }}</span>

    <div class="prose prose-small sm:prose-large md:prose-small lg:prose-large max-w-none">
      {{ post.content }}
    </div>
  </article>
  {% endfor %}
</div>

<div>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span>Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span>Newer</span>
  {% endif %}
</div>
