{% if page.url == "/" or page.url == "/about/" %}
  {% assign seo_homepage_or_about = true %}
{% endif %}

{% if seo_homepage_or_about %}
    {% assign seo_type = "WebSite" %}
{% elsif page.date %}
    {% assign seo_type = "BlogPosting" %}
{% else %}
    {% assign seo_type = "WebPage" %}
{% endif %}

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description | default: site.title}}">
<meta property="og:title" content="{{ page.title }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:image" content="{{ site.url }}/public/images/avatar.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.username | replace:"@","" }}">
<meta name="twitter:creator" content="{{ site.author }}">
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ seo_type }}",
    "name": "{{ site.title }}",
    "headline": "{{ page.title }}",
    "logo": "{{ site.url }}/public/images/avatar.png",
    "url": "{{ page.url | absolute_url }}"
  }
</script>